# Auto detect text files and perform LF normalization
* text=auto
# * text eol=lf

*.sh text eol=lf

*.py text eol=lf
*.pyd text eol=lf
*.pyx text eol=lf
*.pyw text eol=lf

# Force the following filetypes to have unix eols, so Windows does not break them
# *.* text eol=lf

# https://github.com/Danimoth/gitattributes


# changelog.rst merge=union
# https://krlmlr.github.io/using-gitattributes-to-avoid-merge-conflicts/

